*.o
*.lo
/config.*
/autom4te.cache/
/dieharder.html
/dieharder.spec
/dieharder-config
/dieharder/.*/
/libdieharder/.*/
/dieharder/Makefile
/dieharder/dieharder
/dieharder_version.h
/Makefile
/include/Makefile
/libdieharder/Makefile
/libdieharder/libdieharder.la
/libtool
/stamp-h1
