Source: dieharder
Section: devel
Priority: optional
Maintainer: Dirk Eddelbuettel <edd@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), libgsl0-dev, cdbs, automake, libtool, gs-common, texlive-base, texlive-latex-base, texlive-generic-recommended

Package: dieharder
Architecture: any
Depends: ${shlibs:Depends}
Description:  Random-number generator test front-end
 dieharder is a fairly involved random number/uniform deviate generator
 tester.  It can either test any of its many prebuilt and linked
 generators (basically all of those in the Gnu Scientific Library plus
 any others I've been able to find) or a potentially random dataset in a
 file.  With file input, it can test either N-bit bitstrings (with N user
 specifiable) or (double precision) floating point numbers in the range
 [0.0,1.0) (uniform deviates).  It is thus suitable for use in testing
 both software RNG's and hardware RNG's.
 .
 This package provides the command-line frontend.

Package: libdieharder2
Architecture: any
Depends: ${shlibs:Depends}
Description:  Random-number generator test library
 libdieharder is the core library of dieharder and friends, designed to
 be "the last suite of random number testers you'll ever wear".  It can
 test any of its many prebuilt and library linked generators (basically
 all of those in the Gnu Scientific Library plus a number of others from
 various sources) or a potentially random dataset in either an
 ascii-formatted or raw (presumed 32 bit uint) binary file.  It is fairly
 straightforward to wrap new software generators for testing, or to add
 hardware generators that have a software interface for testing, and the
 file input method permits pretty much any software or hardware RNG to be
 tested using libdieharder calls.
 .
 libdieharder has as a design goal the full encapsulation in an
 extensible shell of basically all the random number tests I have been
 able to find -- George Marsaglia's "diehard" battery of tests, STS
 (v1.6) from NIST FIPS, Knuth's tests, and more.  Check in the man
 page(s) or /usr/share/dieharder*/dieharder.pdf for documentation.
 .
 This package provides the shared library.

Package: libdieharder-dev
Architecture: any
Depends: libdieharder2 (= ${binary:Version})
Description:  Random-number generator test library -- development package
 libdieharder is the core library of dieharder and friends, designed to
 be "the last suite of random number testers you'll ever wear".  It can
 test any of its many prebuilt and library linked generators (basically
 all of those in the Gnu Scientific Library plus a number of others from
 various sources) or a potentially random dataset in either an
 ascii-formatted or raw (presumed 32 bit uint) binary file.  It is fairly
 straightforward to wrap new software generators for testing, or to add
 hardware generators that have a software interface for testing, and the
 file input method permits pretty much any software or hardware RNG to be
 tested using libdieharder calls.
 .
 libdieharder has as a design goal the full encapsulation in an
 extensible shell of basically all the random number tests I have been
 able to find -- George Marsaglia's "diehard" battery of tests, STS
 (v1.6) from NIST FIPS, Knuth's tests, and more.  Check in the man
 page(s) or /usr/share/dieharder*/dieharder.pdf for documentation.
 .
 This package provides the header files and the pdf manual.
